{% extends "base.html" %}

{% block content %}
<header class="index-header">
  <img src="static/img/front.jpg" width="660px" height="440px"/>
</header>

<main role="main" class="container">

  <h3 class="section-title">About</h3>

  <p>{{ about }}</p>

  {% for section, pages in sections.items() %}
    <h3 class="section-title">{{ section|replace('-', ' ')|title }}</h3>

    <ul class="section-list">
      {% for page in pages %}
        <li>
          <a href="{{ page.href }}">{{ page.title }}</a>
          <span>
            {% if page.index_meta %}
              {{ page.index_meta }}
            {% else %}
              {{ page.date.strftime('%B %d, %Y') }}
            {% endif %}
          </span>
        </li>
      {% endfor %}
    </ul>
  {% endfor %}

</main>
{% endblock %}
